.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100vh;
    background-color: rgb(235, 201, 190);
}

.header {
    border-style: double;
    border-width: 2px;
    border-color: rgb(216, 141, 48);
    padding: 1rem;
}

.input-qr {
    border-radius: 10%;
    padding: 10px 20px;
    background-color: inherit;
    outline-style: none;
}

.button-qr {
    margin-left: 2rem;
    border-radius: 10%;
    padding: 10px 20px;
    background-color: inherit;
}

.qr-code {
    margin-top: 5%;
}
